extends layout

block content
  script.
    var ds = !{JSON.stringify(doorSensors)};
  .container
    .row
      .col.text-center
        a(href='/')
          h1 Raven Studios Home Automation
    button(id="test") test
  
    .row.buttons
      -for(var prop in devices)
        //- p #{prop}: #{devices[prop].label} : #{devices[prop].pin}
        .col
          div.text-center.button-box
            button.controlButton(id=prop, data-pin=devices[prop].pin) #{devices[prop].label}
    br      
    .row
      
      -for(var ds in doorSensors)
        //- p #{prop}: #{devices[prop].label} : #{devices[prop].pin}
        .col
          
          div.text-center.button-box(id=ds, data-ip=doorSensors[ds].ip) #{doorSensors[ds].label}
